<div class="card mt-5">
  <div class="card-body">
    <div class="card-title">
      <h6 class="text-center">List of Cars</h6>
    </div>
    <table class="table table-sm table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Plate</th>
          <th>Lat</th>
          <th>Lon</th>
          <th class="text-center m-0 fit"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let car of carList">
          <td>{{ car.name }}</td>
          <td>{{ car.plate }}</td>
          <td>{{ car.lat }}</td>
          <td>{{ car.lon }}</td>
          <td class="text-center m-0 fit">
            <button class="btn btn-primary text-white" (click)="onEdit(car)">
              <i class="far fa-edit"></i>
            </button>
            <button class="btn btn-danger text-white" (click)="onDelete(car.$key)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    JAUC cars
  </div>
</div>